

.root{
     -fx-background-color:moccasin;
}


.button{
    -fx-font-size:36px;
    -fx-text-fill:ivory; 
    -fx-font-weight:bold;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color:darkseagreen;
}

#newgame{
    -fx-background-color:darksalmon;
    -fx-font-family: new Times;
    -fx-font-size:30px;
}